@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(112.34% 112.34% at 50.00% 50.00%, rgba(255, 255, 255, 0.43) 0%, rgba(255, 255, 255, 0.00) 62.62%), #1C1A1D;
  font-family: 'Doppio One', sans-serif;
  height: 100vh;
  overflow-y: hidden;
}